<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hola Sinatra</title>
</head>

<body>

  <form action="/" method="POST">
    <h1>Mi cuenta es:
      <%= @num %>
    </h1>
    <input type="hidden" name="number" value=<%=@num %>>
    <input type="submit" value="Submit">
  </form>

</body>

</html>